* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    color: white;
    font-size: 40px;
    float: left;
    background-color:#4aaaa5;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: white;
    width: 100%;
    border-bottom: 2px solid #dddddd; 1
    
}

.background {
    background-image: url(./pattern.png);
}

.content {
    display: block;
    width: 75%;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   }

p {
    color: #777777;
}

.bacon{
    padding-right: 20px;
}

h1 {
    width: 100%;
    margin: auto;
    color: #4aaaa5;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #666666;
   color: white;
   text-align: center;
   border-top: 20px solid #4aaaa5;
   position: fixed;
}

footer p {
    color: white;
}

.column {
    flex: 25%;
    padding: 0 15px;
}

  
  form{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
  }

  input {
    padding:5px;
  }

  .button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

 h3{
    bottom: 100px;
    position: relative;
    width: auto;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
    
.column img {
    margin-top: 8px;
    vertical-align: middle;
  }

@media screen and (max-width: 960px) {
    .content {
        width: 90%;
    }

    .name {
        margin-left: 0px;
    }
    

    .column {
        flex: 50%;
        max-width: 50%;
      }
} 

@media screen and (max-width: 768px) {

    li a {
        font-size: 3.5vw;
    }

    .name {
        font-size: 5vw;
    }

    .content {
        position: relative;
    }

}

@media screen and (max-width: 640px) {
    
    .column {
        flex: 100%;
        max-width: 100%;
        }

    .name {
        font-size: 10vw;
        float: none;
        text-align: center;
        width: 100%;
    }
    
    li a {
        font-size: 4vw;
    }
    
    .links{
        float: none;
        margin-right: 7vw
    }

    .bacon {
        width: 100%;
        height: 150%;
        margin-bottom: 10px;
    }
}